<!DOCTYPE html>
<html lang="en" ng-app="passwordForgetApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>password-forget</title>
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="/images/logo.ico">
    <script type="text/javascript" src="/javascripts/jQuery/jquery.min.js"></script>

    <!-- Bootstrap3.3.5 CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.css">
    <!--style-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"  media="all" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/password-forget.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">

    <!--JS-->
    <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/views_js/password-forget.js"></script>

    <!--AngularJS-->
    <script type="text/javascript" src="/javascripts/AngularJs/angular.min.js"></script>

    <!--Controller-->
    <script type="text/javascript" src="/controllers/passwordForgetCtrl.js"></script>
    <script type="text/javascript" src="/controllers/common/headerCtrl.js"></script>
    <script type="text/javascript" src="/controllers/common/footerCtrl.js"></script>
</head>
<body>
<!--header-->
<%include ./common/header.ejs%>
<div class="col-md-1"></div>
<div class="col-md-10 minh500" ng-controller="passwordForgetController">
    <div class="page-header">
        <h2>重置登录密码</h2>
    </div>
    <div class="mt30">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="control-label col-md-2" >请输入用户名:&nbsp;</label>
                <div class="col-md-3 input-group">
                    <input id="username" type="text" placeholder="请输入注册邮箱" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="bindVerificationCode" class="control-label col-md-2" >验证码:&nbsp;</label>
                <div class="col-md-3 input-group">
                    <input id="bindVerificationCode" type="text" class="form-control" placeholder="请输入验证码">
                    <span class="input-group-btn">
                        <button class="btn btn-primary msgs msgs1 msgsOne" type="button" onclick="getVerificationCodeOne()">获取验证码</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="control-label col-md-2" >请输入新密码:&nbsp;</label>
                <div class="col-md-3 input-group">
                    <input id="newPassword" type="password" value="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="newPasswordRepeat" class="control-label col-md-2" >请再次输入新密码:&nbsp;</label>
                <div class="col-md-3 input-group">
                    <input id="newPasswordRepeat" type="password" value="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" ></label>
                <div class="col-md-5 input-group">
                    <input type="reset" class="btn btn-primary btn-sm" value="重置">
                    <input type="submit" class="btn btn-danger btn-sm ml20" value="确定">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-md-1"></div>
<!--footer-->
<%include ./common/footer.ejs%>
</body>
</html>