.contentTitle h1 {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 40px;
    text-align: left;
    margin: 0 auto 10px auto;
}
.newsContent {
    padding-left:0;
}
.newsContentImg {
    padding-left:0;
    width:100%;
}
.newsContentText {
    padding-left: 0;
}
.newsContentText p{
    font-size: 16px;
    line-height: 32px;
    color: #000;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "微软雅黑","宋体","黑体","Arial";
    font-weight: lighter;
}
